<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/plantilla :: head">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <h1>Informacion</h1>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.273568237262!2d-84.16982218947433!3d9.994246390069636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0fa37a9adb877%3A0x348cbab929683522!2sCtra.%20Interamericana%20N%2C%20Heredia%2C%20Bel%C3%A9n!5e0!3m2!1ses-419!2scr!4v1728887519560!5m2!1ses-419!2scr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>

